<html>

<head>
    <script src="/static/js/jquery.min.js"></script>
    <link rel="stylesheet" href="/static/css/bootstrap.min.css"/>
    <!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
    <script src="/static/js/bootstrap.min.js"></script>
</head>
<body>
    <nav class="navbar navbar-static-top">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">Beego Administrator</a>
            </div>
        
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                <li><div class="navbar-header"><a class="navbar-brand" href="#">WELCOME,{{.User}}</a></div></li>
                <li><a href="#">View Site</a></li>
                <li><a href="#">Change PWD</a></li>
                <li><a href="#">Log Out</a></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Manager <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                    <li><a href="#">Action</a></li>
                    <li><a href="#">Another action</a></li>
                    <li><a href="#">Something else here</a></li>
                    <li role="separator" class="divider"></li>
                    <li><a href="#">Separated link</a></li>
                    </ul>
                </li>
                </ul>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav> 

    <div class="row">
        <div class="col-md-8">  
            <div class="row">
                <div class="col-xs-6 col-sm-1">
                </div>
                <div class="col-xs-6 col-sm-11">
                    <h3>Site Administrator</h3>
                    <br/>
                    <div class="row">
                        <div class="col-sm-12">
                            <ul class="list-group">
                                <li class="list-group-item list-group-item-info">VPN</li>
                                <li class="list-group-item">
                                    <a class="badge" href="#">Change</a>
                                    <a class="badge" href="#">Add</a>
                                    IDC 
                                </li>
                                <li class="list-group-item">
                                    <a class="badge" href="#">Change</a>
                                    <a class="badge" href="#">Add</a>
                                    IDRAC 
                                </li>
                                <li class="list-group-item">
                                    <a class="badge" href="#">Change</a>
                                    <a class="badge" href="#">Add</a>
                                    IDRAC 
                                </li>
                                <li class="list-group-item">
                                    <a class="badge" href="#">Change</a>
                                    <a class="badge" href="#">Add</a>
                                    IDRAC 
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <ul class="list-group">
                                <li class="list-group-item list-group-item-info">AUTHENTICATION AND AUTHORIZATION</li>
                                <li class="list-group-item">
                                    <a class="badge" href="#">Change</a>
                                    <a class="badge" href="#">Add</a>
                                    Groups 
                                </li>
                                <li class="list-group-item">
                                    <a class="badge" href="#">Change</a>
                                    <a class="badge" href="#">Add</a>
                                    Users 
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="row">
                <div class="col-sm-11">
                    <ul class="list-group">
                        <h3> &nbsp;</h3>
                        <br/>
                        <li class="list-group-item list-group-item-success">Recent actions</li>
                        <li class="list-group-item">Cras justo odio</li>
                        <li class="list-group-item">Dapibus ac facilisis in</li>
                        <li class="list-group-item">Morbi leo risus</li>
                        <li class="list-group-item">Porta ac consectetur ac</li>
                        <li class="list-group-item">Vestibulum at eros</li>
                        <li class="list-group-item">
                            <span class="badge">14</span>
                            Cras justo odio
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    {{.Data}}
</body>
</html>